/* body {
  background-image: ;
  background-repeat: no-repeat;
  background-size: 100%;
} */

html {
  background: url('./img/despedida.png') no-repeat fixed;
  background-size: 100%;
  background-color: #accacc;
}
